{% extends 'base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" href="{{asset('CSS/adminpage.css')}}">
<style>
    .tablevertical {
        vertical-align: middle;
    }

    .page-header {
        text-align: center;
        margin-top: 1rem;
    }

    .hello1 {
        background-color: #71A92C !important;
        border: 1px solid #71A92C !important;
    }
    
</style>
{% endblock %} {% block body %}
    {% for message in app.flashes('notice') %}
    <div id="myalert" class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% for message in app.flashes('notice2') %}
    <div id="myaltert2" class="alert alert-danger alert-dismissible fade show">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}


    <div class="admininfo">
        <div class="user">
            <img id="portrait" height="130px" width="90px" src="{{asset("uploads/" ~ user.picture)}}" alt="">
            <h5>{{user.fname ~ " " ~ user.lname}}</h5>
            <a class="btn btn-outline-danger" href="/logout"> Log out</a>
        </div>
        <div class="info1">
            <h2>Dashboard</h2>
            <p>Welcome back to the Dashboard. <br> Scroll down to have an overview over the Students</p>
        </div>
        <div>
        </div>
        <div class="info2">
            <h2><i class="fa-solid fa-user"><span id="counter">{{ length}}</span></i> </h2>
            <p>See Students below</p>
        </div>
    </div>


<div class="cont">
    <div class="user2">
    </div>
    <div class="table">
    <h2 class="page-header"> Codefactory Students </h2>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Student Picture</th>
                <th>Student Name</th>
                <th>Student Skills</th>
                <th>Student Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for todo in todos %}
        <tbody>
            <tr>
                <td class="tablevertical"> <a href="/admin/details/{{todo.id}}"><img height="120px" width="160px" src="{{asset("uploads/" ~ todo.picture)}}" alt=""></a></td>
                <td class="tablevertical">{{todo.name}}</td>
                <td class="tablevertical">{{todo.Skills}}</td>
                <td class="tablevertical">{{todo.Age}}</td>
                <td class="tablevertical">
                    <a href="/admin/details/{{todo.id}}" class="btn btn-outline-success me-3">View</a>
                    <a href="/admin/edit/{{todo.id}}" class="btn btn-outline-dark mybtn me-3">Edit</a>
                    <button onclick="deleteStudent('{{todo.id}}')" class="btn btn-outline-danger me-3">Delete</button>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src='{{asset("Javascript/deleteSwal.js")}}''></script>
{% endblock %}